{% extends 'base.html.twig' %}

{% block title %}New User - {{ connection|upper }}{% endblock %}

{% block body %}
<div class="card">
    <h2>Create New User <span class="connection-badge {{ connection }}">{{ connection }}</span></h2>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.age) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.iban) }}
        {{ form_row(form.creditCard) }}
        {{ form_row(form.status) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Create User</button>
            <a href="{{ path('user_index', {connection: connection}) }}" class="btn btn-secondary">Cancel</a>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
