{% extends 'base.html.twig' %}

{% block title %}Edit Device Info - MongoDB{% endblock %}

{% block body %}
{% include '_breadcrumbs.html.twig' with {entityName: 'Device Infos', isMongo: true, routePrefix: 'mongodb_device_info', currentPage: 'Edit'} %}
<div class="mb-3">
    <a href="{{ path('mongodb_device_info_index') }}" class="btn btn-outline-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Back to List
    </a>
</div>
<div class="card shadow-sm">
    <div class="card-header">
        <h2 class="mb-0">Edit Device Info <span class="badge bg-info connection-badge">MongoDB</span></h2>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="deviceId" class="form-label">Device ID (UUID)</label>
                    <input type="text" class="form-control" id="deviceId" name="deviceId" value="{{ device.deviceId ?? '' }}">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="deviceName" class="form-label">Device Name</label>
                    <input type="text" class="form-control" id="deviceName" name="deviceName" value="{{ device.deviceName ?? '' }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="ipAddress" class="form-label">IP Address</label>
                    <input type="text" class="form-control" id="ipAddress" name="ipAddress" value="{{ device.ipAddress ?? '' }}">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="macAddress" class="form-label">MAC Address</label>
                    <input type="text" class="form-control" id="macAddress" name="macAddress" value="{{ device.macAddress ?? '' }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="deviceHash" class="form-label">Device Hash</label>
                    <input type="text" class="form-control" id="deviceHash" name="deviceHash" value="{{ device.deviceHash ?? '' }}">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="location" class="form-label">Location (Coordinates)</label>
                    <input type="text" class="form-control" id="location" name="location" value="{{ device.location ?? '' }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="themeColor" class="form-label">Theme Color</label>
                    <input type="color" class="form-control form-control-color" id="themeColor" name="themeColor" value="{{ device.themeColor ?? '#667eea' }}">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="isActive" class="form-label">Is Active</label>
                    <select class="form-select" id="isActive" name="isActive">
                        <option value="1" {{ device.isActive|default(false) ? 'selected' : '' }}>Yes</option>
                        <option value="0" {{ not device.isActive|default(false) ? 'selected' : '' }}>No</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="osVersion" class="form-label">OS Version</label>
                    <input type="text" class="form-control" id="osVersion" name="osVersion" value="{{ device.osVersion ?? '' }}">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="browserVersion" class="form-label">Browser Version</label>
                    <input type="text" class="form-control" id="browserVersion" name="browserVersion" value="{{ device.browserVersion ?? '' }}">
                </div>
            </div>
            <div class="mb-3">
                <label for="lastSeen" class="form-label">Last Seen</label>
                <input type="datetime-local" class="form-control" id="lastSeen" name="lastSeen" value="{{ device.lastSeen ? device.lastSeen.toDateTime()|date('Y-m-d\\TH:i') : '' }}">
            </div>
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="{{ path('mongodb_device_info_index') }}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
