{% extends 'base.html.twig' %}

{% block title %}New User Account - {{ connection|upper }}{% endblock %}

{% block body %}
{% include '_breadcrumbs.html.twig' with {entityName: 'User Account', connection: connection, routePrefix: 'user_account', currentPage: 'New'} %}

<div class="mb-3">
    <a href="{{ path('user_account_index', {connection: connection}) }}" class="btn btn-outline-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Back to List
    </a>
</div>
<div class="card shadow-sm">
    <div class="card-header">
        <h2 class="mb-0">Create New User Account <span class="badge bg-{{ connection == 'default' ? 'success' : 'primary' }} connection-badge">{{ connection }}</span></h2>
    </div>
    <div class="card-body">
        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}
            {{ form_widget(form) }}
            <div class="d-flex gap-2 mt-4">
                <button type="submit" class="btn btn-primary">Create User Account</button>
                <a href="{{ path('user_account_index', {connection: connection}) }}" class="btn btn-secondary">Cancel</a>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
